* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    overflow-x: hidden;
    background-color: aqua;
}

header {
    color: white;
    display: flex;
    justify-content: center;
}

main {
    /* margin-left: 3rem; */
    font-size: small;
}

#bootstrap-container {
    /* margin-left: 2rem; */
    /* padding-left: 2rem; */
    margin: 0 2rem 2rem 0;
}

.card {
    /* display: inline-block; */
    /* margin-bottom: 1rem; */
    box-shadow: 2px 2px 2px 2px black;
    background-color: rgb(61, 78, 110);
    color: white;
}

.list-group-item {
    background-color: aqua;
}

/* #button {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: 1rem;
} */

button {
    width: 4rem;
}

#please-center {
    /* display: flex; */
    justify-content: center;
}

